/*
Excersize 3
Home Page of Pandaisia Chocolates
Author: Conner S. Duncan
Date:   09.14.19 

   Filename: pc_info.css

*/


/* Main Styles */


/* Infographic Styles */


/* First Infographic */


/* Second Infographic */


/* Third Infographic */


/* Fourth Infographic */


/* Fifth Infographic */


/* Sixth Infographic */


/* Seventh Infographic */


/* Eighth Infographic */
